@namespace BlazorTable
@typeparam TableItem

@{
ColTemplate = (col) => 
    @<div class="BTPopup">
        <div class="BTPopupContent @(col.FilterOpen ? "show" : "")">
            <h3 class="">Filter</h3>
            <div class="">
                <FilterManager TableItem="TableItem" Column="col">
                    <StringFilter TableItem="TableItem" />
                    <BooleanFilter TableItem="TableItem" />
                    <NumberFilter TableItem="TableItem" />
                    <DateFilter TableItem="TableItem" />
                    <EnumFilter TableItem="TableItem" />
                    @if (col.CustomIFilters != null)
                    {
                        col.CustomIFilters(col);
                    }
                </FilterManager>
            </div>
        </div>
    </div>
;
}