/* Popup container - can be anything you want */
.BTPopup {
  position: relative;
}

/* The actual popup */
.BTPopup .BTPopupContent {
  visibility: hidden;
  padding: 8px 8px;
  position: absolute;
  z-index: 1;
  left: 50%;
  margin-left: -80px;
}

/* Popup arrow */
.BTPopup .BTPopupContent::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

/* Toggle this class - hide and show the popup */
.BTPopup .show {
  visibility: visible;
  -webkit-animation: fadeIn 1s;
  animation: fadeIn 1s;
}

/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
  to {opacity:1 ;}
}